@charset "UTF-8";

	/*
	* boardList
	*/
#boardWrapper{
	padding: 160px 40px 40px;
    display: flex;
}
.boardSideWrap{
	padding : 15px;
}
.boardSideWrap .category{
	display: block;
    border-bottom: 0.15rem solid #59bfbf;
    color: #59bfbf;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.boardSideWrap .category.onCategory{
	color: #e7438b!important;
	 border-bottom: 0.15rem solid #e7438b!important;
}
.boardList-Wrap{
	padding: 0 40px;
}
.boardTitle h2{
	font-size:32px;
	font-weight: normal;
}
.boardSelectorWrap{
	display:flex;
	justify-content: space-between;
    align-items: center;
}
.selectSortType{
	margin: 5px 0;
}
.selectSortType a{
	color: #5a5a5a;
	font-size: 14px;
}
.selectSortType a.active{
	color: #000!important;
    text-decoration: underline;
}
.boardSelectorWrap .writeBtnWrap{
	width: 140px;
}
.boardSelectorWrap .writeBtnWrap a{
	display: block;
    background: #59bfbf;
    color: #fff!important;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size:14px;
}
.boardSelectorWrap .writeBtnWrap a:hover{
	background: #41a0a0!important;
}
.boardSelectorWrap02{
	display:flex;
	justify-content: space-between;
	margin: 15px 0;
	align-items: flex-end;
}
.sortCount select{
	font-size:13px;
	height: calc(1.8rem)!important;
    padding: 0 1.5rem 0 0.5rem!important;
}
.boardSelectorWrap02 .search{
	display:flex;
	align-items: center;
}
.boardSelectorWrap02 .search input{
	font-size: 13px;
    width: 180px;
}
.boardSelectorWrap02 .selectSearchType {
	height: calc(1.75rem)!important;
    padding: 0 1.75rem 0 .75rem!important;
    font-size: 12px;
    background-color: #fff;
    margin-right: 5px;
}
#searchBtn{
	display:block;
	cursor: pointer;
}
.boardSelectorWrap02 .input-group-text{
	display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #59bfbf;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.boardSelectorWrap02 .input-group-text .fa-search{
	font-size: 1rem;
    color: #59bfbf;
    text-align: center;
    white-space: nowrap;
}
.listTable table{
	width:100%;
	font-size:14px;
}
.isNoticeContent{
    color: #59bfbf!important;
    text-align: center;
    font-size: 18px;
}
.isHotContent{
	text-align: center;
    color: #e7438b!important;
    font-size: 20px;
}
.isNewContent{
	text-align: center;
    color: #f9d312;
    font-size: 13px;
}
.isNoticeList td.bTitle a{
    color: #59bfbf!important;
    font-weight:bold;
}
.isHotList td.bTitle a{
	color: #e7438b!important;
}
.listTable .listTable-title:first-child{
	background-color: #76d2d2;
    border: 1px solid #76d2d2;
}
.listTable .listTable-title:first-child td{
	padding: 5px 5px;
    border-right: 2px solid #fff;
    border-bottom: initial;
    color: #fff!important;
    text-align: center;
}
.listTable-title{
	border-bottom: 1px solid #bdbdbd;
    width: 100%;
    font-size: 14px;
}
.listTable-list td{
	border-bottom: 1px solid #d8d8d8;
    width: 5%;
    padding: 5px 5px;
}
.listWidth td.bId{
	text-align: center;
	width:7%;
	color:#6d6d6d;
}
.listWidth td.bHit{
	text-align:center;
	color:#6d6d6d;
}
.listWidth td.bTitle{
	width:40%;
}
.listWidth td.bTitle a{
	color:#000;
}
.listTable .listTable-list.isNoticeList td.bTitle a:hover{
	color:#000!important;
}
.listTable .listTable-list td.bTitle a:hover{
	color:#59bfbf!important;
}
.listWidth td.bTitle span{
	color:#6d6d6d;
}
.listWidth td.bWriter{
	width:15%;
}
.listWidth td.bLike{
	width:10%;
	text-align: center;
	color:#6d6d6d;
}
.listWidth td.bCategory, .listWidth td.bSubject{
	width:6%;
	text-align:center;
	color:#6d6d6d;
}
.isBlind{
	color:#757272!important;
}
.listTable-list.blindContent{
	color: #757474!important;
    background: #efefef;
}
.listTable-list td.searchResult{
	text-align: center;
    padding: 40px 0;
    color:#696969;
}
/*
* 페이징
*/
.boardListpaging{
	margin-top:20px;
}
.page-link.boardPaging{
	margin-left:initial!important;
}