@charset "UTF-8";

.eatingViewWrap {
	padding-top: 100px;
}

.container-fluid {
	margin-bottom: 50px;
}

.container-fluid .slideImg {
	display: none;
}

.container-fluid .eatViewImg .gallery .evImg {
	height: 400px;
	width: 280px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.container-fluid .eatViewImg .gallery .evImg img {
	height: 400px;
	width: auto;
}

.container .eatingContent .eContentLeft .eContentHead table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 15px;
}
.eContentMainInfo{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.eContentHead .eContentMainInfo .eContentTitle{
	display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.eContentHead .eContentMainInfo .eContentTitle p{
	font-size: 32px;
    margin-bottom: 0;
}
.eContentHead .eContentMainInfo .eContentTitle span.reviewAVG{
	color: #e7438b;
    font-weight: bold;
    font-size: 28px;
    margin-left: 15px;
}
.eContentHead .eContentMainInfo .eContentInfo{
	display: flex;
    align-items: center;
}
.eContentHead .eContentMainInfo .eContentInfo p{
    margin-bottom: 0;
    font-size: 14px;
    margin-right: 10px;
    color: #828282;
}
.eContentHead .eContentMainInfo .btnWrap{
	display: flex;
}
.eContentHead .eContentMainInfo .btnWrap p{
	margin-bottom:0;
}
.eContentHead .eContentMainInfo .btnWrap:first-child{
	margin-bottom: 5px;
}
.eContentHead .eContentMainInfo .btnWrap a{
	color: #e7438b;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.eContentHead .eContentMainInfo .btnWrap p:first-child{
	margin-right:10px;
}
.eContentHead .eContentMainInfo .btnWrap a i{
	font-size:22px;
}
.eContentHead .eContentMainInfo .btnWrap .shareBtn .share{
	display: block;
    cursor: pointer;
}
.eContentHead .eContentMainInfo .btnWrap .shareBtn .share img{
	max-width:100%;
}

.container .eatingContent .eContentLeft .eContentBody table {
	width: 100%; 
	border-collapse: separate; 
	border-spacing: 0 30px; 
	vertical-align: middle;	
}

.container .eatingContent .eContentLeft .eContentBody table .tr1b .tdLeftb1, .tdLeftb2, .tdLeftb3, .tdLeftb4, .tdLeftb5, .tdLeftb6 {
	width: 25%; 
	text-align: center; 
	color:#e7438b;
}

.container .eatingContent .eContentLeft .eContentBody table .tr1b .tdRightb1, .tdRightb2, .tdRightb3, .tdRightb5, .tdRightb6 {
	color:#464a4e;
}

.container .eatingContent .eContentLeft .eContentBody table .tr3b .tdRightb3 b {
	color:#e7438b;
}

.container .eatingContent .eContentLeft .eContentBody table .tr4b .tdRightb4 pre {
	font-family: 윤고딕540;
	font-size: 100%;
	margin-bottom: 0px;
	color:#464a4e;
}

.container .eatingContent .eContentRight #map {
	width: auto;
	height: 650px;
	border-radius: 10px;
}

.customoverlay {
	position: relative;
	bottom: 85px;
	border-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ddd;
	float: left;
}

.customoverlay:nth-of-type(n) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	background: #ff9007;
	background: #ff9007
		url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
		no-repeat right 14px center;
}

.customoverlay .title {
	display: block;
	text-align: center;
	background: #fff;
	margin-right: 35px;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: bold;
}

.customoverlay:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: -12px;
	width: 22px;
	height: 12px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}

.gallery img {
	cursor: pointer;
}

/* 리뷰부분 */
.eReviewList .card-body .row .section1 .rProfile {
	width: 50%;
	border-radius: 50%;
	margin-bottom: 10px;
}

.eReviewList .card-body .row .section1 .text-secondary {
	font-size: 80%;
}

.eReviewList .card-body .row .section2 .rv {
	height: 100px;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.eReviewList .card-body .row .section3 .rvMenu {
	height: 100px;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.eReviewList .card-body .row .section3 .rvMenu .menuBtn a {
	color: #ffffff;
	cursor: pointer;
}

.eReviewList .card-body .row .section3 .rvMenu b {
	color: #e7438b;
	font-size: 180%;
}

.modifyCommentBox textarea {
	width: 650px;
	resize: none;
}

.modifyScoreBox select {
	width: 100px;
}

.modifyScoreBox p button {
	width: 40px;
	border: none;
	background-color: #e7438b;
	color: #ffffff;
	cursor: pointer;
}