@charset "UTF-8";

#asWrap {
	padding-top: 90px;
}

.menu1 .container .row .col-lg-6 h3 {
	color: #59bfbf;
	font-weight: 500;
}

.menu1 .container .row .col-lg-6 p b {
	color: #e7438b;
}

.menu1 .container .row .col-lg-6 .cuBtn .btn {
	min-width: 200px;
	font-size: 120%;
	background-color: #59bfbf;
	color: #ffffff;
	border: none;
}

.menu1 .container .row .col-lg-6 .cuBtn .btn:hover {
	background-color: #e7438b;
	color: #ffffff;
}

.menu2 .container .row .col-lg-5 h3 {
	color: #59bfbf;
	font-weight: 500;
}

.menu2 .container .service .col-lg-6 .mb-3 {
	color: #59bfbf;
}

.menu2 .container .service .col-lg-6 a {
	background-color: #59bfbf;
	color: #ffffff;
}

.menu2 .container .service .col-lg-6 button {
	background-color: #e7438b;
	color: #ffffff;
	cursor: default;
}

.menu3 .container .mb-4 .col-lg-5 h3 {
	color: #59bfbf;
	font-weight: 500;
}

ul li a i {
	color: #59bfbf;
	font-size: 120%;
}
.menu3 .teamGit{
	 display: inline-block;
    font-size: 20px;
    color: #59bfbf;
}
.menu4 .container .mb-4 .col-lg-5 h3 {
	color: #59bfbf;
	font-weight: 500;
}

.menu4 .container .caMain .col-md-8 #contact-form textarea {
	height: 150px;
	resize: none;
}

.menu4 .container .caMain .col-md-8 #contact-form #qnaBtn {
	background-color: #59bfbf;
	color: #ffffff;
	border: none;
	width: 100%;
	cursor: pointer;
}

.menu4 .container .caMain .col-md-4 .cainfo {
	margin-left: 50px;
}

.menu4 .container .caMain .col-md-4 .cainfo i {
	color: #59bfbf;
}