@charset "UTF-8";

#foot {
	font-family: "윤고딕540";
	color: #ffffff;
	background-color: #59bfbf;
}

#serviceTab a {
	color: #ffffff;	
}

.sc-social a{
	color:#fff!important;
}

.sc-social a i{
	color:#fff!important;
}