@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
	font-family: 'Jeju Gothic', sans-serif;
}

.chatRoomWrapper .card{
	border-radius: 0!important;
    border: initial!important;
    width: 100%!important;
}

	/*
	* chat Header
	*/
.card .card-header {
	background: #6bd2d2;
    border: 0;
    font-size: 1rem;
    padding: 20px;
    position: relative;
    color: #ffffff;
    letter-spacing: 0.08rem;
}

.card-header .chatTitle {
	font-weight: bold;
    color: #e7438b;
    font-size: 24px;
    margin-bottom: 10px;
    max-width: 90%;
}
.card-header .noticeMsg{
	position: absolute;
    right: 15px;
}
.card-header .noticeMsg i{
	font-size: 24px;
}
.card-header .chatRoomMakeInfo{
	display: flex;
    margin-bottom: 10px;
}

.card-header .chatRoomMakeInfo p{
	margin:0;
	font-size:13px;
}
.card-header .chatRoomMakeInfo p.chatMaster{
	margin-right:15px;
}

.card-header .chMenu {
	position: absolute;
    bottom: 20px;
    right: 15px;
}

.card-header #deleteBtn, #exitBtn {
	color: #59bfbf;
    padding: 8px 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
}

.card-header #deleteBtn i, .card-header #exitBtn i{
	font-size: 22px;
}

.card-header .meetInfo {
	color: #fff;
    font-size: 13px;
    font-weight: normal;
}
.card-header .meetInfo p{
	margin:0;
}
.card-header .meetInfo p:first-child{
	margin-bottom: 10px;
}
.card-header .count{
	font-size: 12px;
    margin-top: 10px;
}
.card-header .count .inMember{
	color: #e7438b;
}
.card-header .chatMemberList{
	font-size: 12px;
	color: #e7438b;
}
	/*
	* chat Message Area
	*/
.chatMessageArea {
	height: 450px;
    overflow-y: auto;
    padding: 10px;
}
.chat-list {
	padding: 0;
	font-size: .8rem;
}
.chat-list li {
	margin-bottom: 10px;
	color: #fff;
}
.chat-list li.out{
	margin-right: 5px;
}
.chat-list li.in{
	margin-left: 5px;
}
.chat-list .chat-img img {
	border-radius: 50px;
	width: 100%;
}

.chat-list .out .chat-body{
	max-width: 100%;
}
.chat-list .in .chat-body{
	max-width: 100%;
    display: flex;
}

.chat-list .chat-message .chat-message-info p{
	color: #a2a2a2;
    font-size: 11px;
    margin: 0;
    padding: 0 3px;
}
.chat-list .out .chat-message{
	text-align: right;
}
.chat-list .out .chat-message .mySendMessage{
	background: #e7438b;
    padding: 10px 20px;
    position: relative;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}
.chat-list .out .chat-message .mySendMessage:before{
	right: -10px;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #e7438b;
    content: "";
    position: absolute;
    top: 5px;
    width: 0;
    height: 0;
}
.chat-list .in .chat-img{
	width: 10%;
    margin-top: 15px;
    margin-right: 5px;
}
.chat-list .in .chat-img img{
	max-width:100%;
	border-radius:50%;
}
.chat-list .in .chat-message{
	width: 80%;
    margin-left: 10px;
}
.chat-list .in .chat-message .myReceiveMessage{
	background: #969696;
    padding: 10px 20px;
    position: relative;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
}
.chat-list .in .chat-message .myReceiveMessage:before{
	left: -10px;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #969696;
    content: "";
    position: absolute;
    top: 5px;
    width: 0;
    height: 0;
}

.notice .notice-message{
	text-align: center;
    margin: 8px 0;
}
.notice .notice-message p{
	color: #afaeae;
    margin: 0;
    font-size: 11px;
}
.notice .notice-message p.deleteNotice{
	color:#e7438b;
}


	/*
	* message footer
	*/
.panel-footer .input-group{
	position: relative;
    display: flex;
    width: 100%;
    padding: 0 5px;
}
.panel-footer .input-group input{
	font-size: 13px;
}
.input-group-btn #sendBtn {
	color: #fff;
    background: #e7438b;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
}
.input-group-btn #sendBtn i{
	font-size: 15px;
}
