@charset "UTF-8";

/* message페이지 */
.message_body{overflow:hidden;}
.messageForm {padding: 25px 20px 0;}
.messageForm .nav-tabs{border-bottom: 2px solid #59bfbf;}
.messageForm .tablist-li{border-right: 1px solid #ddd; padding: 0 15px;}
.messageForm .nav-item .nav-link{color: #26274c;}
.messageForm .nav-item a.active{color: #59bfbf!important;background-color: #fff!important;border-color:#59bfbf #59bfbf #fff!important;}
.messageForm .notelist .notelist_head{
	list-style: none;
    padding: 5px 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    margin: 0;
}
.massageIsEmpty{
	list-style: none;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
    margin: 0;
    text-align:center;
    }
.messageForm .tab-content{
	height: 300px;
    border-right: 2px solid #59bfbf;
    border-left: 2px solid #59bfbf;
    border-bottom: 2px solid #59bfbf;
 }
 #showMyMessage{margin-top: 5px;}
 .messageForm .nav-tabs .nav-item {margin-bottom:-2px!important;}
 .messageForm .nav-tabs .nav-link{border: 2px solid transparent!important;}
 .messageForm .tab-content .note_title{border-bottom: 1px solid #ddd; padding: 5px 10px;}
.messageForm .notelist .notelist_head .note_check{width:3%;}
.messageForm .notelist .notelist_head .note_type{width:17%;}
.messageForm .notelist .notelist_head .note_content{width:35%;}
.messageForm .notelist .notelist_head .note_mdate{width:17%;}
.messageForm .notelist .notelist_head .note_mstatus{width:10%;}
.messageForm .notelist .notelist_head .note_active{width:10%;}
.messageForm .openMsgView{cursor:pointer;}
.messageForm .openMsgView:hover{text-decoration: underline;color:#59bfbf!important;}
.send_cancle, .reportMsg{text-decoration: underline!important;cursor:pointer;}
.send_cancle:hover, .reportMsg:hover{color:#59bfbf!important;}
.selectDeleteBtn {
	width:80px;
	order:2;
	font-size: 14px;
	color:#59bfbf;
	border:1px solid #59bfbf;
	margin:0;
	padding: 5px 15px;
	cursor: pointer;
}
.message_footer{
	padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;}
.messageForm .modal-title{font-size:18px;}
.messageForm .modal-body{padding: 20px!important;font-size: 14px!important;}
.messageForm .form-group{margin-bottom:0!important;}
.messageForm .modal-footer button{font-size:14px;}
.messageListpaging .pagination .page-item a{
	margin-left: 0!important;
    padding: .5rem!important;
}
/* message 여기까지 */

/* messageView */
.messageView_body{background-color: #e8f8f8;}
#receiveMessageForm, #sendMessageForm, #replyMessage{overflow: hidden;}
.sc-messageView .sc-title{font-size:26px; margin:20px 0;}
.sc-messageView .container {padding: 0 20px;}
.sc-messageView form {font-size:14px;}
.sc-messageView form .form-group {margin-bottom:15px!important;padding: 0 10px 20px 10px;background-color: #fff;height: 280px;}
.sc-messageView form .form-group table {width:100%;}
.sc-messageView form .form-group table .form-title {border-bottom: 1px solid #a3e1e1;}
.sc-messageView form .form-group table tr th.input-title{color: #59bfbf;width:20%;}
.sc-messageView form .form-group table tr td{padding: 10px 0 10px 5px;width:80%;}
.sc-messageView form .btn{font-size: 14px;margin-right: 8px;color:#59bfbf;cursor: pointer;}
/* messageView 여기까지 */
